@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}
body {
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
}
.hero-image {
  width: 100%;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-desc {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  background-color: #e67e22;
  color: #fff;
  font-size: 2rem;
  display: inline-block;
  padding: 1.7rem 3.2rem;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.btn:link:hover,
.btn:visited:hover {
  background-color: #b46520;
}
.left {
  margin-left: 1.2rem;
}
.delivered-meals {
  display: flex;
  margin-top: -20rem;
}
.delivered-img {
  display: flex;
  align-items: center;
}
.delivered-img img {
  width: 4.8rem;
  border-radius: 50%;
  height: 4.8rem;
}
.delivered-img p {
  font-size: 1.8rem;
  font-weight: 700;
}
.delivered-img img:not(:first-child) {
  margin-left: -1rem;
}
.header img {
  height: 2.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.nav-list {
  font-size: 2rem;
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-list li a {
  text-decoration: none;
}
